<ul [ngClass]="{'cui-chips form-control':true,'focus':focus,'disabled':disabled}" 
  [ngStyle]="style" [class]="styleClass" (click)="inputtext.focus()">
  <li #token *ngFor="let item of value; let i = index;" class="cui-chips-token">
    <span *ngIf="!disabled" class="cui-chips-token-icon fa fa-fw fa-close" (click)="removeItem($event,i)"></span>
    <span *ngIf="!itemTemplate" class="cui-chips-token-label">{{field ? resolveFieldData(item,field) : item}}</span>
    <!-- <ng-template *ngIf="itemTemplate" [cuiTemplateWrapper]="itemTemplate" [item]="item"></ng-template> -->
    <ng-container *ngIf="itemTemplate" [ngTemplateOutlet]="itemTemplate" [ngOutletContext]="{item: item}"></ng-container>
  </li>
  <li class="cui-chips-input-token">
    <input #inputtext type="text" [attr.id]="inputId" [attr.placeholder]="placeholder" [attr.tabindex]="tabindex" (keydown)="onKeydown($event,inputtext)"
      (focus)="onFocus()" (blur)="onBlur()" [disabled]="maxedOut||disabled" [disabled]="disabled" [ngStyle]="inputStyle"
      [class]="inputStyleClass">
  </li>
</ul>