@mixin form-control-focus() {
  &:focus {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: none;
    @if $enable-shadows {
      box-shadow: $input-box-shadow, $input-btn-focus-box-shadow;
    } @else {
      box-shadow: $input-btn-focus-box-shadow;
    }
  }
}