<!-- <ul class="pagination">
  <li><span>第{{pagination.page}}页/共{{pagination.totalPage()}}页</span></li>
  <li><span class="no-padding"><input type="text" size="5" class="text-center" placeholder="页码"></span></li>
  <li><a class="text-success" href="#">跳转</a></li>
  <li><a href="javascript:void(0)">首页</a></li>
  <li><a href="javascript:void(0)" (click)="prev()">上一页</a></li>
  <li><a href="javascript:void(0)" (click)="next()">下一页</a></li>
  <li><a href="javascript:void(0)">末页</a></li>
  <li><span>共{{pagination.total}}条</span></li>
  <li>
    <span class="no-padding">
      <select>
        <option [selected]="10 == pagination.size">10</option>
        <option [selected]="20 == pagination.size">20</option>
        <option [selected]="50 == pagination.size">50</option>
        <option [selected]="100 == pagination.size">100</option>
        <option [selected]="500 == pagination.size">500</option>
        <option [selected]="1000 == pagination.size">1000</option>
      </select>
    </span>
    <span>条/页</span>
  </li>
</ul> -->

<!-- <div class="cui-pagination" *ngIf='!paginationTemplate'>
    <span>共 {{pagination.totalElements}} 条记录，</span>
    <!- <a >每页 {{pagination.size}} 条 <i class="fa fa-caret-up"></i></a> ->
    <span>
      每页
      <span class='gobox'>
        <select id='pageSize' #pageSize name="pageSize" [(ngModel)]="pagination.size" (change)="first()" class='cui-pagination-btns'>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="200">200</option>
        </select>
        <i class='fa fa-angle-down gobtn ' ></i>
      </span> 条，
    </span>
    <span>
      跳转至第
      <span class='gobox'>
        <input #totalPages class='cui-pagination-btns' [(ngModel)]="totalPagesNumber" (keydown)="gotoTotalPages($event,totalPages.value)" />
        <i class='fa  fa-angle-right gobtn cursor' (click)="gotoTotalPages($event,totalPages.value)" ></i>
      </span>页
    </span>
    <a href="javascript:;" class="page-action-item" [class.disabled]="pagination.first" (click)="first()"><i class="fa fa-lg fa-angle-double-left"></i> </a>
    <a href="javascript:;" class="page-action-item" [class.disabled]="pagination.first" (click)="prev()"><i class="fa fa-lg fa-angle-left"></i> </a>
    <span>{{pagination.number + 1}}/{{pagination.totalPages}}</span>
    <a href="javascript:;" class="page-action-item" [class.disabled]="pagination.last" (click)="next()"><i class="fa fa-lg fa-angle-right"></i> </a>
    <a href="javascript:;" class="page-action-item" [class.disabled]="pagination.last" (click)="last()"><i class="fa fa-lg fa-angle-double-right"></i> </a>
</div> -->
<!-- ant-pagination-prev ant-pagination-disabled
  ant-pagination-item-link
ant-pagination-item ant-pagination-item-active
ant-pagination-next -->
<!-- <ul class="ant-pagination">
  <li class="ant-pagination-prev" [class.ant-pagination-disabled]="pagination.first" (click)="first()">
    <a class="ant-pagination-item-link">首页</a>
  </li>
</ul> -->
<span>共 {{pagination.totalElements}} 条记录，</span>
<button nz-button [nzType]="'default'" (click)="first()" [disabled]="pagination.first"><i class="anticon anticon-verticle-right"></i></button>
<button nz-button [nzType]="'default'" (click)="prev()" [disabled]="pagination.first"><i class="anticon anticon-left"></i></button>
<input nz-input #totalPages [(ngModel)]="totalPagesNumber" name="totalPagesNumber" id="pageNumberInput" (keydown)="gotoTotalPages($event, totalPagesNumber)" />
<span>/</span>
<span>{{pagination.totalPages}}</span>
<button nz-button [nzType]="'default'" (click)="next()" [disabled]="pagination.last"><i class="anticon anticon-right"></i></button>
<button nz-button [nzType]="'default'" (click)="last()" [disabled]="pagination.last"><i class="anticon anticon-verticle-left"></i></button>
<nz-select #pageSize name="pageSize" [(ngModel)]="pagination.size" (ngModelChange)="first()">
  <nz-option
    *ngFor="let option of PER_PAGE_SIZES"
    [nzLabel]="option.label"
    [nzValue]="option.value"
    [nzDisabled]="option.disabled">
  </nz-option>
</nz-select>


<div class="cui-pagination" *ngIf="paginationTemplate">
    <ng-container [ngTemplateOutlet]="paginationTemplate" [ngOutletContext]="{pagination: pagination}"></ng-container>
</div>