$text-color: #333333;
$heading-color: #ffffff;
$font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
$border-radius-base: 0;
$primary-color: #66aaff;
