<div class="form-group" [formGroup]="form">
  <label [attr.for]="field.key">{{field.key}}</label>

  <div [ngSwitch]="field.controlType">
    <input *ngSwitchCase="'text'" [type]="field.type" [id]="field.key" [formControlName]="field.key" class="form-control">

    <select *ngSwitchCase="'dropdown'" [id]="field.key" [formControlName]="field.key" class="form-control">
      <option *ngFor="let opt of field.options" [value]="opt.key">{{opt.value}}</option>
    </select>

    <div class="form-control-feedback" *ngIf="!isValid">{{field.label}} is required</div>
  </div>
</div>