<!--The whole content below can be removed with the new code.-->
<div class="cui-layout">
  <div class="cui-layout-header">
    <ng-content select=".cui-layout-header-content"></ng-content>
  </div>
  <div class="cui-layout-body">
    <div class="cui-layout-sidebar">
      <ng-content select=".cui-layout-sidebar-content"></ng-content>
    </div>
    <div class="cui-layout-workbench" id="cui-layout-workbench">
      <ng-content select=".cui-layout-workbench-content"></ng-content>
    </div>
  </div>
  <div class="cui-layout-footer">
    <ng-content select=".cui-layout-footer-content"></ng-content>
  </div>
</div>
