<div class="py-4 px-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5><i class="fa fa-lg fa-github text-secondary"></i> 资源</h5>
        <ul class="ml-4 mt-2 pl-1">
          <li class="mb-1"><a href="" target="_blank">源码仓库</a></li>
          <li class="mb-1"><a href="" target="_blank">Awesome Ant Design</a></li>
          <li class="mb-1"><a href="" target="_blank">NG-ZORRO</a></li>
        </ul>
      </div>
      <div class="col">
        <h5><i class="fa fa-lg fa-link text-secondary"></i> 相关站点</h5>
        <ul class="ml-4 mt-2 pl-1">
          <li class="mb-1"><a href="" target="_blank">源码仓库</a></li>
          <li class="mb-1"><a href="" target="_blank">Awesome Ant Design</a></li>
          <li class="mb-1"><a href="" target="_blank">NG-ZORRO</a></li>
        </ul>
      </div>
      <div class="col">
        <h5><i class="fa fa-lg fa-comments-o text-secondary"></i> 社区</h5>
        <ul class="ml-4 mt-2 pl-1">
          <li class="mb-1"><a href="" target="_blank">源码仓库</a></li>
          <li class="mb-1"><a href="" target="_blank">Awesome Ant Design</a></li>
          <li class="mb-1"><a href="" target="_blank">NG-ZORRO</a></li>
        </ul>
      </div>
      <div class="col">
        <h5><i class="fa fa-lg fa-book text-secondary"></i> 帮助</h5>
        <ul class="ml-4 mt-2 pl-1">
          <li class="mb-1"><a href="" target="_blank">源码仓库</a></li>
          <li class="mb-1"><a href="" target="_blank">Awesome Ant Design</a></li>
          <li class="mb-1"><a href="" target="_blank">NG-ZORRO</a></li>
        </ul>
      </div>
    </div>

    <div class="py-5 my-3 text-center">
      <p>Copyright © 2017</p>
      <p></p>
    </div>
  </div>

</div>