
.cui-fileupload-choose {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        // min-height: 100%;
        min-width: 100%;
        width: 100%;
        // font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        direction: ltr;
        cursor: pointer;
        z-index: 3;
        font-size: 0;
        min-height: 100%;
        height: 100%;

        display: none;
    }

    .image-holder {
        font-size: 80px;
        color: #eee;
    }
}

.file-list {
    list-style: none;
    display: flex;
    flex-direction: row;

    .file-item {
        padding: 0.75rem;

        i.fa-file-* {
            font-size: 1.25rem;
        }
    }
}