<ng-container *ngIf="mode == 'file' && multiple">
    <div class="btn btn-primary cui-fileupload-choose" (click)="chooseFile()">
        <span class="fa fa-plus"></span>
        <span>选择文件...</span>
        <input #file type="file" class="form-control-file" name="file" [multiple]="multiple" cuiFileSelect [uploader]="uploader"
            (onFileSelected)="onSelected($event)" [accept]="accept">
    </div>
    <ng-container *ngIf="!auto">
        <button type="button" [disabled]="!hasNotUploadFiles()" (click)="uploader.uploadAll()" class="btn btn-info">开始上传</button>
        <button type="button" class="btn btn-warning" [disabled]="!uploader.isUploading" (click)="uploader.cancelAll()">取消上传</button>
        <button type="button" class="btn btn-danger" [disabled]="!hasFiles()" (click)="clearQueue()">移除全部</button>
    </ng-container>

    <ul *ngIf="hasFiles()" class="file-list">
        <li *ngFor="let item of uploader.queue" [ngClass]="{'file-item': true, 'upload-error': item.isError, 'upload-success': item.isSuccess}">
            <!-- <i [class]="'fa fa-file-'+getIcon(f)"></i> -->
            <span><strong>{{ item?.file?.name }}</strong></span>

            <span *ngIf="item.isError">上传失败</span>
            <span *ngIf="item.isSuccess"><!-- 上传成功 --></span>
            <div class="progress" style="height: 3px;">
                <div class="progress-bar progress-bar-striped" [ngClass]="{'bg-success': item.isSuccess, 'bg-danger': item.isError}" [style.width]="item.progress+'%'"></div>
            </div>
            <span class="item-remove" (click)="removeFromQueue(item)">✕</span>
        </li>
    </ul>
</ng-container>

<ng-container *ngIf="mode == 'file' && !multiple">
    <div class="input-group cui-fileupload-choose" (click)="chooseFile()">
        <div class="form-control p-0" style="position: relative;">
            <div *ngIf="hasFiles()" class="progress rounded-0 input-progress">
                <div *ngIf="!uploader.queue[0]?.isError" class="progress-bar progress-bar-striped" [ngClass]="{'bg-success': uploader.queue[0]?.isSuccess}" [style.width]="uploader.queue[0]?.progress+'%'"></div>
                <div *ngIf="uploader.queue[0]?.isError" class="progress-bar progress-bar-striped" [ngClass]="{'bg-danger': uploader.queue[0]?.isError}" [style.width]="'100%'"></div>
            </div>
            <div class="input-placeholder">
                <span *ngIf="!hasFiles()">请选择文件...</span>
                <span *ngIf="hasFiles()">{{uploader.queue[0]?.file?.name}}</span>
            </div>
        </div>
        <span class="input-group-btn">
            <div class="btn btn-primary">
            <span class="fa fa-plus"></span>
            <span>选择文件</span>
            </div>
        </span>
        <input #file type="file" class="form-control-file" name="file" cuiFileSelect [uploader]="uploader"
            (onFileSelected)="onSelected($event)" [accept]="accept">
    </div>
    <div *ngIf="hasFiles()">
        <span class="mr-3">文件大小: <strong>{{uploader.queue[0]?.file?.size | cuiFilesizeFormat}}</strong></span>
        <span class="mr-3">进度: <strong>{{uploader.queue[0]?.progress}}%</strong></span>
        <!-- <span class="mr-3">速度: <strong>{{speed | cuiFilesizeFormat}}/s</strong></span> -->
        <span *ngIf="uploader.queue[0]?.isError" class="mr-3">状态: <strong>上传失败</strong></span>
        <span *ngIf="uploader.queue[0]?.isUploading" class="mr-3">状态: <strong>正在上传</strong></span>
        <span *ngIf="uploader.queue[0]?.isSuccess" class="mr-3">状态: <strong>上传成功</strong></span>
    </div>
</ng-container>

<ng-container *ngIf="mode == 'image' && !multiple">
    <div class="cui-fileupload-choose image-holder-wrapper" (click)="chooseFile()">
        <span *ngIf="!hasFiles() && !imageHolder" class="fa fa-image image-holder text-center"></span>
        <span *ngIf="!hasFiles() && imageHolder">
            <img [src]="imageHolder" [alt]="imageHolder" width="100%">
        </span>
        <span *ngIf="hasFiles() && isImage(uploader.queue[0]?._file)">
            <!-- {{log(uploader.queue)}} -->
            <img [src]="getSafeUrl(uploader.queue[0]?._file)" [alt]="uploader.queue[0]?.file?.name" width="100%">
        </span>
        <div *ngIf="hasFiles()" class="progress" style="height: 3px;">
            <div class="progress-bar progress-bar-striped" [ngClass]="{'bg-success': uploader.progress==100}" [style.width]="uploader.progress+'%'"></div>
        </div>
        <input #file [accept]="accept" type="file" class="form-control-file" name="files" cuiFileSelect 
            (onFileSelected)="onSelected($event)" [uploader]="uploader">
    </div>
</ng-container>
<div class="text-danger" *ngIf="showErr && errs && errs.length > 0">
    <p *ngFor="let err of errs">{{err.message}}</p>
</div>