<ng-content select='.table-before'></ng-content>
<div class="list-search-bar" *ngIf="complexSearch || simpleSearch || listTools || dynamicColumns">
    <div class="complex-search-bar" *ngIf="isComplexSearch">
        <ng-container [ngTemplateOutlet]="complexSearch"></ng-container>
    </div>

    <div class="simple-search-bar" *ngIf="!isComplexSearch">
        <ng-container [ngTemplateOutlet]="simpleSearch"></ng-container>
    </div>

    <div class="list-tool-bar">
        <ng-container [ngTemplateOutlet]="listTools"></ng-container>
        <button type="btn" class="btn btn-secondary btn-icon" *ngIf="dynamicColumns"><i class="fa fa-cog"></i></button>
    </div>
</div>
<div class="cui-data-table-wrap">
<table class="table">
  <thead>
    <tr>
      <th *ngIf="!!selectType" style="width: 40px;" class="align-middle">
        <!-- <input *ngIf="selectType=='checkbox'" type="checkbox" name="toggleSelect" value="" [checked]="isSelectAll" (change)="selectAll()"/> -->
        <!-- <cui-checkbox *ngIf="selectType=='checkbox'" name="toggleSelect" [binary]="true" [(ngModel)]="isSelectAll" (change)="selectAll()"></cui-checkbox> -->
        <label *ngIf="selectType=='checkbox'" nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="checkAll($event)"></label>
        <span *ngIf="selectType=='radio'"></span>
      </th>
      <th *ngFor="let col of columnsVisible" [ngStyle]="col.style" [ngClass]="col.styleClass">{{col.title || col.name || col.data | uppercase}}</th>
      <th *ngIf="!!rowActions" class="text-right tb-nowrap">{{ rowActionTitle || '操作'}}</th>
    </tr>
  </thead>
  <tbody *ngIf="data && data.length > 0">
    <tr *ngFor="let row of data" > <!-- *ngIf="data && data.length > 0" -->
      <td *ngIf="!!selectType" class="align-middle">
        <!-- <input type="{{selectType}}" name="ids" value="{{row['id']}}" #ids [checked]="isSelectAll || rowChecked(row)" (change)="selectItem(row, ids.checked)"/> -->
        <!-- <cui-checkbox *ngIf="selectType=='checkbox'" name="ids" [value]="row['id']" #ids [binary]="true" [checked]="isSelectAll || rowChecked(row)"
          (change)="selectItem(row, ids.checked)"></cui-checkbox> -->
        <label *ngIf="selectType=='checkbox'" nz-checkbox [(ngModel)]="row.checked" (ngModelChange)="_refreshStatus()"></label>
        <!-- <cui-radio *ngIf="selectType=='radio'" name="ids" value="{{row['id']}}" #ids  (change)="selectItem(row, ids.checked)"></cui-radio> -->
        <label nz-radio *ngIf="selectType=='radio'" [(ngModel)]="row.checked" (ngModelChange)="_refreshStatus()"></label>
      </td>
      <td *ngFor="let col of columnsVisible" [ngStyle]="col.style" [ngClass]="col.styleClass">
        <div *ngIf="!!col.data && !colTpls[col.tpl]">{{row | objectPath: col.data}}</div>
        <ng-container *ngIf="!!colTpls[col.tpl]" [ngTemplateOutlet]="colTpls[col.tpl]" [ngOutletContext]="{row: row}"></ng-container>
      </td>
      <td class="text-right tb-nowrap" *ngIf="!!rowActions">
        <ng-container [ngTemplateOutlet]="rowActions" [ngOutletContext]="{row: row}"></ng-container>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="data && data.length > 0">
    <tr>
      <td *ngIf="!!selectType" class="align-middle">
        <!-- <input *ngIf="selectType=='checkbox'" type="checkbox" class="my-2" name="toggleSelect" value="" [checked]="isSelectAll" (change)="selectAll()"/> -->
        <!-- <cui-checkbox *ngIf="selectType=='checkbox'" name="toggleSelect" [binary]="true" [(ngModel)]="isSelectAll" (change)="selectAll()"></cui-checkbox> -->
        <label *ngIf="selectType=='checkbox'" nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="checkAll($event)"></label>
      </td>
      <td [attr.colspan]='columnsVisible.length + (!!rowActions ? 1 : 0)'>
        <!-- <ng-content select=".action-group"></ng-content> -->
        <div class="action-group" *ngIf="actionGroup">
          <ng-container [ngTemplateOutlet]="actionGroup"></ng-container>
        </div>
        <cui-pagination class="pull-right datatables-pagination my-2" *ngIf="pagination" [pagination]="pagination" (goto)="fireReload()"></cui-pagination>
      </td>
    </tr>
  </tfoot>
</table>

    <div class="data-table-no-data-wrap" *ngIf="!loading && (!data || data.length == 0)">
        <div class="data-table-no-data py-4 my-4 text-center">
            <span class="fa fa-lg fa-info-circle text-success"></span>
            <span>没有查询到符合条件的记录</span>
        </div>
    </div>

    <div class="loading" *ngIf="loading">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
</div>