<ng-template [ngIf]="node">
  <div class="cui-treenode" [class]="node.styleClass" [ngClass]="{'cui-treenode-leaf': isLeaf(), 'cui-treenode-disabled': node.disabled}">
    <div class="cui-treenode-content" (click)="onNodeClick($event)" (contextmenu)="onRightClick($event)" (touchend)="onNodeTouchEnd()"
        [ngClass]="{'cui-treenode-selectable':tree.selectionMode && node.selectable !== false && !node.disabled, 'selected': isSelected}">
      <span class="cui-treenode-toggler fa fa-fw" [ngClass]="{'fa-caret-right': node.hasChildren, 'fa-rotate-45': node.expanded}" (click)="toggle($event)"></span>
      <span class="cui-treenode-chkbox" *ngIf="tree.selectionMode == 'checkbox'">
        <!-- <input type="checkbox" [checked]="isSelected"/> -->
        <div class="cui-chkbox-box">
          <span class="cui-chkbox-icon fa" [ngClass]="{'fa-check': isSelected, 'fa-minus':node.partialSelected}"></span>
        </div>
      </span>
      <span [class]="getIcon()" *ngIf="hasIcon()"></span>
      <span class="cui-treenode-label">
        <ng-container *ngIf="!tree.nodeTemplate">{{node.label}}</ng-container>
        <ng-container *ngIf="tree.nodeTemplate" [ngTemplateOutlet]="nodeTemplate" [ngOutletContext]="{node: node}"></ng-container>
      </span>
    </div>
    <div class="cui-treenode-children loading" *ngIf="node.hasChildren && node.expanded && node.loading">Loading</div>
    <div class="cui-treenode-children" style="display: none;" *ngIf="node.hasChildren && node.expanded && !node.loading" [style.display]="node.expanded ? 'block' : 'none'">
      <cui-treenode *ngFor="let childNode of node.children; let first=first; let last=last; let index=index;" [node]="childNode" [parentNode]="node"
          [isFirst]="first" [isLast]="last" [index]="index" [isRoot]="false"></cui-treenode>
    </div>
  </div>
</ng-template>