.cui-dropdown-clear {
    border-right: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5rem 0.75rem;
}