.cui-listbox {
    overflow:auto;
    padding: .25em;
    width: 10em;

    & {
        &-list {
            list-style-type: none; 
            margin: 0;
            padding: 0;
        }

        &-item {
            padding: .25em;
            border: 0 none;
            cursor: pointer;
            font-weight: normal;
            margin-bottom: 1px;

            >span {
                vertical-align: middle;
            }

            &:last-child {
                margin-bottom: 0;
            }

        }
    }

    &.disabled &, &:disabled & {
        
        &-item {
            cursor: default;
        }
    }

    &-header {
        margin-bottom: 0.3em;
        padding: .125em .2em;
        position: relative;

        .cui-chkbox {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
        }

        .cui-listbox-filter-container {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            width: 100%;
        }

        &.cui-listbox-header-w-checkbox .cui-listbox-filter-container {
            width: calc(100% - 2em);
        }

        .cui-listbox-filter-container .fa {
            position: absolute;
            top: .25em;
            left: .25em;
        }

        .form-control {
            padding: .125em .125em .125em 1.25em;
            width: 100%;
        }
    }
}


body .cui-listbox {
    background-color: $custom-select-bg;
    padding: $custom-select-padding-y $custom-select-padding-x;
    color: $custom-select-color;
    line-height: $custom-select-line-height;

    border: solid $custom-select-border-width $custom-select-border-color; 

    // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
    @if $enable-rounded {
        // Manually use the if/else instead of the mixin to account for iOS override
        border-radius: $input-border-radius;
    } @else {
        // Otherwise undo the iOS default
        border-radius: 0;
    }

    @include box-shadow($input-box-shadow);
    @include transition($input-transition);

    &:disabled,
    &[readonly] {
        background-color: $input-disabled-bg;
        // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
        opacity: 1;
    }

    &:disabled {
        cursor: not-allowed;
    }

    & {
        &-list {
            
        }

        &-item {

            &.active, &:active, &:hover, &.highlight {
                background-color: theme-color("primary");
                color: $white;
            }
        }
    }
}