<div [ngClass]="{'cui-listbox form-control':true,'cui-state-disabled':disabled}"
  [ngStyle]="style" [class]="styleClass">
  <div class="cui-listbox-header clearfix" *ngIf="(checkbox && multiple) || filter"
    [ngClass]="{'cui-listbox-header-w-checkbox': checkbox}">
    <div class="cui-chkbox" *ngIf="checkbox && multiple">
      <div class="cui-helper-hidden-accessible">
        <input #cb type="checkbox" readonly="readonly" [checked]="allChecked">
      </div>
      <div class="cui-chkbox-box" [ngClass]="{'cui-state-active':allChecked}" (click)="toggleAll($event,cb)">
        <span class="cui-chkbox-icon cui-clickable" [ngClass]="{'fa fa-check':allChecked}"></span>
      </div>
    </div>
    <div class="cui-listbox-filter-container" *ngIf="filter">
      <input type="text" role="textbox" (input)="onFilter($event)" class="form-control"
        [disabled]="disabled">
      <span class="fa fa-search"></span>
    </div>
  </div>
  <ul class="cui-listbox-list">
    <li *ngFor="let option of options; let i = index;" [style.display]="isItemVisible(option) ? 'block' : 'none'" [ngClass]="{'cui-listbox-item':true,'highlight':isSelected(option)}"
      (click)="onOptionClick($event,option)" (dblclick)="onDoubleClick($event,option)" (touchend)="onOptionTouchEnd($event,option)">
      <div class="cui-chkbox" *ngIf="checkbox && multiple" (click)="onCheckboxClick($event,option)">
        <div class="cui-helper-hidden-accessible">
          <input type="checkbox" [checked]="isSelected(option)" [disabled]="disabled">
        </div>
        <div class="cui-chkbox-box" [ngClass]="{'active':isSelected(option)}">
          <span class="cui-chkbox-icon cui-clickable" [ngClass]="{'fa fa-check':isSelected(option)}"></span>
        </div>
      </div>
      <span *ngIf="!itemTemplate">{{option.label}}</span>
      <ng-template *ngIf="itemTemplate" [cuiTemplateWrapper]="itemTemplate" [item]="option" [index]="i"></ng-template>
    </li>
  </ul>
</div>