<cui-data-table #tableHandle [columns]="columns" [data]="data?.content" [pagination]="data" selectType="checkbox" [(selection)]="selection" [loading]="loading">

    <ng-template #complexSearch>
        <ng-container *ngTemplateOutlet="complexSearchBox"></ng-container>
    </ng-template>

    <ng-template #simpleSearch>
        <ng-container *ngTemplateOutlet="simpleSearchBox"></ng-container>
    </ng-template>

    <ng-template #listTools>
        <div class="btn-group">
            <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> 创建计划</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item">复制历史计划</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item">批量创建</a>
                <a class="dropdown-item">批量导入</a>
            </div>
        </div>
        <button type="button" class="btn btn-outline-primary"><i class="fa fa-download"></i> 导出</button>
        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
        <span>批量操作</span>
      </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item">批量删除</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item">批量创建</a>
                <a class="dropdown-item">批量导入</a>
            </div>
        </div>
    </ng-template>

    <ng-template #actionGroup>
        <div class="btn-group dropup">
            <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
        <span>批量操作</span>
      </button>
            <div class="dropdown-menu">
                <a class="dropdown-item">批量删除</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item">批量创建</a>
                <a class="dropdown-item">批量导入</a>
            </div>
        </div>
    </ng-template>

    <!-- 自定义列显示 -->
    <ng-template cuiColTpl="name" let-row="row">
        <a class="text-primary">{{row.name}}</a>
    </ng-template>
    <ng-template cuiColTpl="budget" let-row="row">
        {{row.budget ? row.budget : '--'}}
    </ng-template>
    <ng-template cuiColTpl="createdDate" let-row="row">
        {{row.createdDate | date: 'yyyy-MM-dd'}}
    </ng-template>
    <ng-template cuiColTpl="isPublished" let-row="row">
        <span [class.text-secondary]="!row.isPublished" [class.text-success]="row.isPublished">
      {{row.isPublished ? '已发布' : '未发布'}}
    </span>
    </ng-template>
    <ng-template cuiColTpl="auditStatus" let-row="row">
        <ng-container *ngTemplateOutlet="auditStatus; context: {$implicit: row}"></ng-container>
    </ng-template>
    <ng-template cuiColTpl="actions" let-row="row">
        <ng-container *ngTemplateOutlet="rowActions; context: {$implicit: row}"></ng-container>
    </ng-template>
</cui-data-table>

<ng-template #auditStatus let-row>
    <!-- 'INITIAL' | 'WAIT' | 'PASS' | 'REFUSED' -->
    <ng-container [ngSwitch]="row.auditStatus">
        <span *ngSwitchCase="'INITIAL'" class="text-secondary">未提交</span>
        <span *ngSwitchCase="'WAIT'" class="text-warning">待审核</span>
        <span *ngSwitchCase="'PASS'" class="text-success">已通过</span>
        <span *ngSwitchCase="'REFUSED'" class="text-danger">已拒绝</span>
        <span *ngSwitchDefault>--</span>
    </ng-container>
</ng-template>

<ng-template #rowActions let-row>
    <a class="text-primary">管理</a>
    <span nz-table-divider></span>
    <a class="text-danger">删除</a>
    <span nz-table-divider></span>
    <nz-dropdown [nzPlacement]="'bottomRight'">
        <a class="ant-dropdown-link" nz-dropdown>
          更多 <i class="anticon anticon-down"></i>
      </a>
        <ul nz-menu>
            <li nz-menu-item><a>复制</a></li>
            <li nz-menu-item><a>修改</a></li>
        </ul>
    </nz-dropdown>
</ng-template>

<ng-template #simpleSearchBox>
    <form nz-form [formGroup]="_searchForm" (ngSubmit)="_submitForm($event, _searchForm.value)" [nzLayout]="'inline'" class="cui-data-table-form-box">
        <div nz-row class="cui-data-table-form-body">
            <div nz-form-control>
                <nz-input formControlName="name" [nzPlaceHolder]="'请输入年度计划名称'"> </nz-input>
            </div>
            <div class='simple-search-bar-search-box'>
                <button type="submit" nz-button [nzType]="'primary'" class='search-btn'><i class="fa fa-search"></i>查询</button>
                <button type="button" class="btn btn-link" (click)="tableHandle.isComplexSearch=true">高级查询</button>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #complexSearchBox>
    <form nz-form [formGroup]="_searchForm" (ngSubmit)="_submitForm($event, _searchForm.value)" [nzLayout]="'horizontal'" class="cui-data-table-form-box">
        <div nz-row class="cui-data-table-form-body">
            <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label for="name">计划名称</label>
                    </div>
                    <div nz-col [nzSpan]="18">
                        <nz-input formControlName="name" [nzPlaceHolder]="'请输入年度计划名称'"></nz-input>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label for="submitedBy">提交人</label>
                    </div>
                    <div nz-col [nzSpan]="18">
                        <nz-input formControlName="submitedBy" [nzPlaceHolder]="'请输入提交人名称'"></nz-input>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label for="submitGroup">提交单位</label>
                    </div>
                    <div nz-col [nzSpan]="18">
                        <nz-input formControlName="submitGroup" [nzPlaceHolder]="'请输入提交单位'"></nz-input>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label for="trainingAddress">培训地点</label>
                    </div>
                    <div nz-col [nzSpan]="18">
                        <nz-input formControlName="trainingAddress" [nzPlaceHolder]="'请输入培训地点'"></nz-input>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label for="trainingAddress">计划类型</label>
                    </div>
                    <div nz-col [nzSpan]="18">
                        <nz-input formControlName="trainingAddress" [nzPlaceHolder]="'请输入计划类型'"></nz-input>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="8" class="cui-data-table-form-row">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label for="excuteStatus">执行状态</label>
                    </div>
                    <div nz-col [nzSpan]="18">
                        <nz-input formControlName="excuteStatus" [nzPlaceHolder]="'请输入执行状态'"></nz-input>
                    </div>
                </div>
            </div>
            <div class="cui-data-table-form-row">
                <div class='complex-search-bar-search-box'>
                    <button nz-button [nzType]="'primary'" [nzSize]="'large'" class='search-btn'><i class="fa fa-search"></i>查询</button>
                    <button type="button" class="btn btn-link" (click)="tableHandle.isComplexSearch=false">简单查询</button>
                </div>
            </div>
        </div>
    </form>
</ng-template>