:host::ng-deep {
    .list-tool-bar {
        float: right;
        margin-bottom: 15px;
        position: inherit;
        z-index: 999;
    }
    .simple-search-bar {
        display: inline-block;
    }
    .complex-search-bar-search-box {
        margin-top: 5px;
        position: absolute;
        bottom: -30px;
        z-index: 999;
    }
    .simple-search-bar-search-box {
        margin-top: 5px;
        display: inline-block;
        margin-left: 25px;
    }
    .cui-data-table-form-box {
        padding: 0;
        margin: 0;
        width: 100%;
        background: #fff;
        .cui-data-table-form-body {
            .cui-data-table-form-row {
                margin: 0 auto;
                padding: 0;
                margin-bottom: 10px;
            }
            .ant-form-item {
                margin: 0;
            }
            .ant-form-item-control-wrapper {
                display: inline-block;
            }
            .ant-form-item-control {
                line-height: 30px !important;
                height: 30px !important;
            }
            .ant-input {
                height: 30px !important;
                width: 130px !important;
                font-size: 12px !important;
                line-height: 30px !important;
                padding-top: 2px !important;
            }
            .ant-select {
                height: 30px !important;
                width: 130px !important;
                font-size: 12px !important;
                padding-top: 2px !important;
                .ant-select-selection {
                    min-height: 30px !important;
                    height: 30px !important;
                    overflow: hidden !important;
                }
                .ant-select-selection__rendered {
                    line-height: 30px !important;
                }
            }
            .search-btn {
                background-color: #007bff;
                border-color: #007bff;
                width: 60px;
                height: 24px;
                font-size: 12px;
            }
            .cui-dropdown {
                height: 30px !important;
                min-width: 130px !important;
                font-size: 12px !important;
                width: 130px !important;
                padding-top: 2px !important;
                .cui-dropdown-label {
                    text-overflow: ellipsis;
                    padding-right: 5px;
                }
            }
            .btn-link {
                padding: 0 5px;
            }
        }
        .ant-form-item-label {
            label {
                margin: 0;
            }
        }
    }
}