/** MultiSelect **/
.cui-multiselect {
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: middle;

    & {
        &-label  {
            display: block;
            border: none;
            white-space: nowrap;
            overflow: hidden;
            font-weight: normal;
            width: 100%;
            padding-right: 1.5em;
            margin: 0;
        }

        &-trigger {
            border-right: none;
            border-top: none;
            border-bottom: none;
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            padding: $input-padding-y $input-padding-x;
        }

        &-panel {
            display: block;
            border: solid $custom-select-border-width $custom-select-border-color;
            white-space: nowrap;
            overflow: hidden;
            font-weight: normal;
            width: 100%;
            min-width: 100%;
            // padding-right: 1.5em;
            position: absolute;
            height: auto;
            background-color: $white;

            .cui-multiselect-items-wrapper {
                overflow: auto;
            }

            .cui-multiselect {
                &-item {
                    font-weight: normal;
                    border: 0 none;
                    cursor: pointer;
                    margin: 1px 0;
                    text-align: left;
                    padding: $custom-select-padding-y $custom-select-padding-x;
                    line-height: $custom-select-line-height;

                    &:hover {
                        background-color: theme-color("primary");
                        color: $white;
                    }
                }

                &-item-group {
                    font-weight: bold;
                }

                &-list {
                    padding: 0.4em;
                    border: 0 none;
                }

                &-filter {
                    width: 100%;
                    box-sizing: border-box;
                    padding-right: 1.5em;
                }

                &-filter-container {
                    position: relative;
                    margin: 0;
                    padding: 0.4em;
                    display: inline-block;
                }

                &-filter-container .fa {
                    position: absolute;
                    top: .8em;
                    right: 1em;
                }
            }
        }

        &-item-empty,
        &-label-empty {
            text-indent: -9999px;
        }
    }

    &.disabled {
        .cui-multiselect-trigger,
        .cui-multiselect-label {
            cursor: default;
        }

    }

    label.cui-multiselect-label  {
        cursor: pointer;
    }

    input.cui-multiselect-label  {
        cursor: default;

        &:focus {
            outline: none;
        }
    }
}





.cui-multiselect {

    & {
        &-list {
            list-style-type: none; 
            margin: 0;
            padding: 0;
        }

        &-item {
            padding: .25em;
            border: 0 none;
            cursor: pointer;
            font-weight: normal;
            margin-bottom: 1px;

            >span {
                vertical-align: middle;
            }

            &:last-child {
                margin-bottom: 0;
            }

        }
    }

    &.disabled &, &:disabled & {
        
        &-item {
            cursor: default;
        }
    }

    &-header {
        margin-bottom: 0.3em;
        //padding: .125em .2em;
        position: relative;
        padding: 0.125em 1.125em;

        .cui-chkbox {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
        }

        .cui-multiselect-filter-container {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            // width: 100%;
            width: calc(100% - 2.5em);
            padding-left: 0em;
        }

        &.cui-multiselect-header-w-checkbox .cui-multiselect-filter-container {
            width: calc(100% - 2em);
        }

        .cui-multiselect-filter-container .fa {
            position: absolute;
            top: .75em;
            left: .5em;
        }

        .form-control {
            padding: .25em .125em .25em 1.75em;
            width: 100%;
        }
    }
}


body .cui-multiselect {
    background-color: $custom-select-bg;
    // padding: $custom-select-padding-y $custom-select-padding-x;
    color: $custom-select-color;
    line-height: $custom-select-line-height;
    padding: $input-padding-y $input-padding-x;

    border: solid $custom-select-border-width $custom-select-border-color; 

    // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
    @if $enable-rounded {
        // Manually use the if/else instead of the mixin to account for iOS override
        border-radius: $input-border-radius;
    } @else {
        // Otherwise undo the iOS default
        border-radius: 0;
    }

    @include box-shadow($input-box-shadow);
    @include transition($input-transition);

    &:disabled,
    &[readonly] {
        background-color: $input-disabled-bg;
        // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
        opacity: 1;
    }

    &:disabled {
        //cursor: $cursor-disabled;
        cursor: not-allowed;
    }

    & {
        &-list {
            
        }

        &-item {

            &.active, &:active, &:hover, &.highlight {
                background-color: theme-color("primary");
                color: $white;
            }
        }
    }
}