<cui-asciidoc [content]="introDoc"></cui-asciidoc>


<section class="">
  <article class="asciidoc">
    <h2>示例</h2>
  </article>

  <ng-container *ngTemplateOutlet="demos"></ng-container>
</section>

<cui-asciidoc [content]="apiDoc"></cui-asciidoc>


<ng-template #demos>
  <cui-code-box id="data-table-synthesize-demo" title="综合示例" [code]="codes['synthesize']">
    <cui-data-table-synthesize-demo demo></cui-data-table-synthesize-demo>
    <div intro>
      <p>这是数据表格的一个综合示例，包括常用的数据表格展示和布局功能</p>
    </div>
  </cui-code-box>

  <cui-code-box id="data-table-simple-demo" title="简单表格" [code]="codes['simple']">
    <cui-data-table-simple-demo demo></cui-data-table-simple-demo>
    <div intro>
      <p>简单的表格，最后一列是各种操作。</p>
    </div>
  </cui-code-box>

  <cui-code-box id="data-table-selection-demo" title="选择和操作" [code]="codes['selection']">
    <cui-data-table-selection-demo demo></cui-data-table-selection-demo>
    <div intro>
      <p>选择后进行操作，完成后清空选择。</p>
    </div>
  </cui-code-box>

  <cui-code-box id="data-table-selection-props-demo" title="控制选择属性" [code]="codes['selection-props']">
    <cui-data-table-selection-props-demo demo></cui-data-table-selection-props-demo>
    <div intro>
      <p>配置选择框的默认属性。</p>
    </div>
  </cui-code-box>

  <cui-code-box id="data-table-filter-demo" title="列过滤器" [code]="codes['filter']">
    <cui-data-table-filter-demo demo></cui-data-table-filter-demo>
    <div intro>
      <p>使用受控属性对筛选和排序状态进行控制。
        nzTable可以像 HTML table 标签 一样自定义表头和内容，通过配合 nz-table-sort与 nz-table-filter可以方便的自定义筛选和排序功能。</p>
    </div>
  </cui-code-box>

  <cui-code-box id="data-table-sort-demo" title="列排序器" [code]="codes['sort']">
    <cui-data-table-sort-demo demo></cui-data-table-sort-demo>
    <div intro>
      <p></p>
    </div>
  </cui-code-box>

  <cui-code-box id="data-table-pagination-demo" title="分页" [code]="codes['pagination']">
    <cui-data-table-pagination-demo demo></cui-data-table-pagination-demo>
    <div intro>
      <p></p>
    </div>
  </cui-code-box>

  <cui-code-box id="data-table-expanded-demo" title="可展开行" [code]="codes['expanded']">
    <cui-data-table-expanded-demo demo></cui-data-table-expanded-demo>
    <div intro>
      <p></p>
    </div>
  </cui-code-box>

  <!-- <cui-code-box id="data-table--demo" title="" [code]="codes['']">
    <cui-data-table--demo demo></cui-data-table--demo>
    <div intro>
      <p></p>
    </div>
  </cui-code-box> -->
</ng-template>